<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="." class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="//images.squarespace-cdn.com/content/v1/5bf58d3c7e3c3a5853cdbe5b/1544735931452-Q1L6D39TRLC2V4U2L818/Logo_3+-W+xparent+-grnblk.png?format=1500w" alt="Exactus Energy" width="67">
                    </span>
                    <span class="logo-lg">
                        <img src="//images.squarespace-cdn.com/content/v1/5bf58d3c7e3c3a5853cdbe5b/1544735931452-Q1L6D39TRLC2V4U2L818/Logo_3+-W+xparent+-grnblk.png?format=1500w" alt="Exactus Energy" width="90">
                    </span>
                </a>
                <a href="." class="logo logo-light">
                    <span class="logo-sm">
                        <img src="//images.squarespace-cdn.com/content/v1/5bf58d3c7e3c3a5853cdbe5b/1544735931452-Q1L6D39TRLC2V4U2L818/Logo_3+-W+xparent+-grnblk.png?format=1500w" alt="Exactus Energy" width="22">
                    </span>
                    <span class="logo-lg">
                        <img src="//images.squarespace-cdn.com/content/v1/5bf58d3c7e3c3a5853cdbe5b/1544735931452-Q1L6D39TRLC2V4U2L818/Logo_3+-W+xparent+-grnblk.png?format=1500w" alt="Exactus Energy" width="90">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

        </div>
    </div>
</header>
